@model BivrostWeb.Models.ViewModels.ProjectViewModel

@{
    ViewData["Title"] = "Project";
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool hasSessions = false;
}

<div>
    
    @await Component.InvokeAsync("ProjectMenu", @Model)

    <div class="table-container">
        <div class="table-container__header">
            <text class="header-title">Sessions</text>
            <a class="header-button">Add new session</a>
            <a class="header-button">Manage sessions</a>
        </div>
        <div class="table-container__search">
            <button class="icon-container">
                <span class="material-icons">search</span>
            </button>
            <input class="search-input" placeholder="Search for sessions"/>
        </div>
        <div class="projects-table">
            <table>
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Status</th>
                    <th>Date</th>
                    <th>Students</th>
                    <th>Duration</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                @{
                    hasSessions = false;

                    foreach (Session session in Model.Project.Sessions)
                    {
                        if (!session.s_status)
                        {
                            continue;
                        }

                        hasSessions = true;

                        string sessionStatusClass = session.s_status ? "project-status-active" : "project-status-finished";

                        <tr class="main-row">
                            <td>@session.s_name</td>
                            <td class="@sessionStatusClass">@(session.s_status ? "ACTIVE" : "COMPLETED")</td>
                            <td>21.21.2121</td>
                            <td>@session.s_students.Count</td>
                            <td>21 minutes</td>
                            <td class="link-column">
                                <a id="sessionLink" asp-action="Session" asp-controller="Project" asp-route-projectId="@Model.Project.Id" asp-route-sessionId="@session.s_id">
                                    Join session
                                </a>
                            </td>
                        </tr>
                    }

                    if (!hasSessions)
                    {
                        <tr style="height: 112px;">
                            <td class="centered-table-element" colspan="6" style="text-align: center;">No sessions found, please try again!</td>
                        </tr>
                    }
                }
                </tbody>
            </table>
        </div>
    </div>

</div>

<div class="modal fade" id="createModalPanel" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content modalPanel">
            <div class="modalHeader">
                <label class="modalTitle" id="modalTitle">Create a new session</label>
                <label class="modalTitleDescription" id="modalTitleDescription">Create a new project with new users</label>
            </div>
            @{
                // Generate a random ID
                string randomSessionID = Guid.NewGuid().ToString();
            }
            <form asp-controller="Project" asp-action="CreateSession" method="post" asp-route-projectId="@Model.Project.Id" asp-route-sessionId="@randomSessionID">
                <div class="modalBody">
                    <div class="modalBodyContentBlock">
                        <label>Session ID</label>
                        <input type="text" placeholder="@randomSessionID" id="sessionIdInput" class="form-control" readonly="readonly"/>
                    </div>
                    <div class="modalBodyContentBlock">
                        <label>Session Name</label>
                        <input type="text" id="sessionNameInput" name="sessionName" class="form-control"/>
                    </div>
                </div>
                <div class="modalFooter">
                    <button type="button" id="cancelButton" class="footerButton cancelButton" data-dismiss="modal">CANCEL</button>
                    <button id="createNewSession" type="submit" class="footerButton continueButton">CREATE</button>
                </div>
            </form>
        </div>
    </div>
</div>