@model BivrostWeb.Models.ViewModels.ProjectViewModel

@{
    ViewData["Title"] = "Project";
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool hasSessions = false;
}

<div>
    <div class="project-menu-panel">
        <a class="back-button" asp-action="Index" asp-controller="Home">
            <span class="material-symbols-outlined">arrow_back</span>
        </a>
        <div class="project-full-name">
            <span class="project-menu-text">
                <span class="current-location">@Model.Project.Name</span>
            </span>
        </div>
        <a asp-controller="Project" asp-action="Project" asp-route-projectId="@Model.Project.Id" class="project-menu-button active-menu-button">PROJECT</a>
        <a class="project-menu-button">ANALYTICS</a>
        <a asp-controller="Project" asp-action="Settings" asp-route-projectId="@Model.Project.Id" class="project-menu-button">SETTINGS</a>
    </div>
    
    <div class="block" id="div1">
        <div class="block-top">
            <div class="block-name">Sessions</div>
            <div style="flex-grow: 1;"></div>
            <button class="block-option-button" onclick="makeFullscreen('div1')"><i class="bi bi-fullscreen"></i></button>
            <button class="block-option-button"><i class="bi bi-arrow-clockwise"></i></button>
        </div>
        <div class="project-menu-panel">
            <button class="project-menu-button active-menu-button" data-table="activeSessionsTable" onclick="toggleTable(event)">Active</button>
            <button class="project-menu-button" data-table="completedSessionsTable" onclick="toggleTable(event)">Completed</button>
            <div style="flex-grow: 1;"></div>
            <button id="createModalButton" type="button" class="create-button">CREATE SESSION</button>
        </div>
        <table id="activeSessionsTable">
            <thead>
                <tr>
                    <th class="left-element">NAME</th>
                    <th class="centered-table-element regular-column">STATUS</th>
                    <th class="centered-table-element regular-column">DATE</th>
                    <th class="centered-table-element regular-column">PLAYERS</th>
                    <th class="centered-table-element regular-column">DURATION</th>
                    <th class="centered-table-element regular-column">OPTIONS</th>
                </tr>
            </thead>
            <tbody>
            @{
                hasSessions = false;
                
                foreach (Session session in Model.Project.Sessions)
                {
                    if (!session.s_status)
                    {
                        continue;
                    }
                    
                    hasSessions = true;  

                    string sessionStatusClass = session.s_status ? "project-status-active" : "project-status-finished";

                    <tr>
                        <td class="left-element">@session.s_name</td>
                        <td class="centered-table-element regular-column @sessionStatusClass">@(session.s_status ? "ACTIVE" : "COMPLETED")</td>
                        <td class="centered-table-element regular-column">21.21.2121</td>
                        <td class="centered-table-element regular-column">@session.s_students.Count</td>
                        <td class="centered-table-element regular-column">21 minutes</td>
                        <td class="centered-table-element regular-column">
                            <a id="sessionLink" asp-action="Session" asp-controller="Project" asp-route-projectId="@Model.Project.Id" asp-route-sessionId="@session.s_id">
                                <button class="table-more-option">Join</button>
                            </a>
                        </td>
                    </tr>
                }
                
                if (!hasSessions)
                {
                    <tr style="height: 112px;">
                        <td class="centered-table-element" colspan="6" style="text-align: center;">No sessions found, please try again!</td>
                    </tr>
                }
            }
            </tbody>
        </table>
        <table id="completedSessionsTable" style="display: none;">
            <thead>
                <tr>
                    <th class="left-element">NAME</th>
                    <th class="centered-table-element regular-column">STATUS</th>
                    <th class="centered-table-element regular-column">DATE</th>
                    <th class="centered-table-element regular-column">PLAYERS</th>
                    <th class="centered-table-element regular-column">DURATION</th>
                    <th class="centered-table-element regular-column">OPTIONS</th>
                </tr>
            </thead>
            <tbody>
                @{
                    hasSessions = false;
                    
                    foreach (Session session in Model.Project.Sessions)
                    {
                        if (session.s_status)
                        {
                            continue;
                        }
                        
                        hasSessions = true;

                        string sessionStatusClass = session.s_status ? "project-status-active" : "project-status-finished";

                        <tr>
                            <td class="left-element">@session.s_name</td>
                            <td class="centered-table-element regular-column @sessionStatusClass">@(session.s_status ? "ACTIVE" : "FINISHED")</td>
                            <td class="centered-table-element regular-column">21.21.2121</td>
                            <td class="centered-table-element regular-column">@session.s_students.Count</td>
                            <td class="centered-table-element regular-column">21 minutes</td>
                            <td class="centered-table-element regular-column">
                                <button class="table-more-option">Join</button>
                            </td>
                        </tr>
                    }
                    
                    if (!hasSessions)
                    {
                        <tr style="height: 112px;">
                            <td class="centered-table-element" colspan="6" style="text-align: center;">No sessions found, please try again!</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    
</div>

<div class="modal fade" id="createModalPanel" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content modalPanel">
            <div class="modalHeader">
                <label class="modalTitle" id="modalTitle">Create a new session</label>
                <label class="modalTitleDescription" id="modalTitleDescription">Create a new project with new users</label>
            </div>
            @{
                // Generate a random ID
                string randomSessionID = Guid.NewGuid().ToString();
            }
            <form asp-controller="Project" asp-action="CreateSession" method="post" asp-route-projectId="@Model.Project.Id" asp-route-sessionId="@randomSessionID">
                <div class="modalBody">
                    <div class="modalBodyContentBlock">
                        <label>Session ID</label>
                        <input type="text" placeholder="@randomSessionID" id="sessionIdInput" class="form-control" readonly="readonly"/>
                    </div>
                    <div class="modalBodyContentBlock">
                        <label>Session Name</label>
                        <input type="text" id="sessionNameInput" name="sessionName" class="form-control"/>
                    </div>
                </div>
                <div class="modalFooter">
                    <button type="button" id="cancelButton" class="footerButton cancelButton" data-dismiss="modal">CANCEL</button>
                    <button id="createNewSession" type="submit" class="footerButton continueButton">CREATE</button>
                </div>
            </form>
        </div>
    </div>
</div>