@using BivrostWeb.Models.ViewModels
@model BivrostWeb.Models.ViewModels.ProjectViewModel

@{
    ViewData["Title"] = "Project";
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool hasSessions = false;
    string randomSessionID = Guid.NewGuid().ToString();
}

<div class="project-panel">
    
    @{
        ProjectMenuViewModel projectMenuViewModel = new ProjectMenuViewModel(Model.Project.FullName);
        await Component.InvokeAsync("ProjectMenu", projectMenuViewModel);
    }

    <div class="table-container">
        <div class="table-container__header">
            <text class="header-title">Sessions</text>
            <a class="header-button" onclick="enableModalPanel('createSessionPanel', true)">Add new session</a>
            <a class="header-button">Manage sessions</a>
        </div>
        <div class="table-container__search">
            <button class="icon-container">
                <span class="material-icons">search</span>
            </button>
            <input class="search-input" placeholder="Search for sessions"/>
        </div>
        <div class="projects-table">
            <table id="sessionsTable">
                <thead>
                <tr>
                    <th id="nameHeader" class="sortable-header">Name</th>
                    <th id="statusHeader" class="sortable-header">Status</th>
                    <th id="dateHeader" class="sortable-header">Date</th>
                    <th id="studentsHeader" class="sortable-header">Students</th>
                    <th id="durationHeader" class="sortable-header">Duration</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                @{
                    hasSessions = false;

                    foreach (Session session in Model.Project.Sessions)
                    {
                        hasSessions = true;

                        string sessionStatusClass = session.s_status ? "project-status-active" : "project-status-finished";

                        <tr class="main-row">
                            <td>@session.s_name</td>
                            <td class="@sessionStatusClass">@(session.s_status ? "ACTIVE" : "COMPLETED")</td>
                            <td>@session.s_date</td>
                            <td>@session.s_students.Count</td>
                            <td>@session.s_duration minutes</td>
                            <td class="link-column">
                                <a asp-action="Session" asp-controller="Project" asp-route-projectId="@Model.Project.Id" asp-route-sessionId="@session.s_id">
                                    Join session
                                </a>
                            </td>
                        </tr>
                    }

                    if (!hasSessions)
                    {
                        <tr style="height: 112px;">
                            <td class="centered-table-element" colspan="6" style="text-align: center;">No sessions found, please try again!</td>
                        </tr>
                    }
                }
                </tbody>
            </table>
        </div>
    </div>

</div>

<form asp-controller="Project" asp-action="CreateSession" method="post"
      asp-route-projectId="@Model.Project.Id" 
      asp-route-sessionId="@randomSessionID">
    <div class="modal fade" id="createSessionPanel" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content modal-panel">
                <div class="modal-panel__header">
                    Create new session
                </div>
                <div class="modal-panel__body">
                    <div class="body-item">
                        <div class="modal-panel__section">Session ID</div>
                        <div class="input-wrapper">
                            <input class="input-text" type="text" value="@randomSessionID" id="studentIdInput" readonly="readonly"/>
                            <button class="icon-button">
                                <span class="material-icons">
                                    content_copy
                                </span>
                            </button>
                        </div>
                    </div>
                    <div class="body-item">
                        <div class="modal-panel__section">Session name</div>
                        <input class="input-text" type="text" id="sessionNameInput" autocomplete="off" name="sessionName"/>
                    </div>
                </div>
                <div class="modal-panel__footer">
                    <button type="reset" id="cancelButton" class="footer-button"  onclick="enableModalPanel('createSessionPanel', false)">Cancel</button>
                    <button type="submit" id="confirmButton" class="footer-button confirm-button">Add Student</button>
                </div>
            </div>
        </div>
    </div>
</form>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        makeTableSortable('sessionsTable');
        
        document.querySelector('.search-input').addEventListener('input', function () {
            filterTable('sessionsTable', '.search-input', [0]);
        });
    });
</script>