@model BivrostWeb.Models.ViewModels.SessionViewModel

@{
    ViewData["Title"] = "Session";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="session-panel">
    <div class="control-panel">
        <div class="operator-module">
            <div class="title-block">
                <button class="icon-button">
                    <span class="material-icons">
                        arrow_back
                    </span>
                </button>
                @Model.Session.s_name
            </div>
            <div class="content-block">
                <div class="panel-section">
                    <div class="section-header" onclick="toggleSection(this)">
                        <span>Info</span>
                        <span class="material-icons query-arrow">arrow_drop_down</span>
                    </div>
                    <div class="section-content">
                        Info content
                    </div>
                </div>
                <div class="panel-section">
                    <div class="section-header" onclick="toggleSection(this)">
                        <span>Instructors</span>
                        <span class="material-icons query-arrow">arrow_drop_down</span>
                    </div>
                    <div class="section-content">
                        Instructors content
                    </div>
                </div>
                <div class="panel-section">
                    <div class="section-header" onclick="toggleSection(this)">
                        <span>Real time events</span>
                        <span class="material-icons query-arrow">arrow_drop_down</span>
                    </div>
                    <div class="section-content">
                        Real time events content
                    </div>
                </div>
            </div>
            <div class="footer-block">
                <button class="finish-session-btn">Finish Session</button>
            </div>
        </div>
    </div>
    <div class="content-panel">
        <div class="table-container">
            <div class="table-container__header">
                <text class="header-title">Students</text>
                <a id="createModalButton" class="header-button">Add new student</a>
            </div>
            <div class="table-container__search">
                <button class="icon-container">
                    <span class="material-icons">search</span>
                </button>
                <input class="search-input" placeholder="Search for students"/>
            </div>
            <div class="projects-table">
                <table id="studentsTable">
                    <thead>
                    <tr>
                        <th><span class="material-icons">lock</span></th>
                        <th>Name</th>
                        <th>Status</th>
                        <th>Time</th>
                        <th>Progress</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (Student student in Model.Session.s_students)
                    {
                        <tr data-student-id="@student.st_id">
                            <td><span class="material-icons">lock</span></td>
                            <td>@student.st_name</td>
                            <td>@student.st_status</td>
                            <td>26 minutes</td>
                            <td>@student.st_progress</td>
                            <td class="link-column">
                                <a asp-action="Student" asp-controller="Project" asp-route-projectId="@Model.Project.Id" asp-route-sessionId="@Model.Session.s_id" asp-route-studentId="@student.st_id">
                                    Enter student page
                                </a>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="createModalPanel" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content modalPanel">
            <div class="modalHeader">
                <label class="modalTitle" id="modalTitle">Add a new student</label>
                <label class="modalTitleDescription" id="modalTitleDescription">Add a new student to the session</label>
            </div>
            @{
                string randomStudentID = Guid.NewGuid().ToString();
            }
            <form asp-controller="Project" asp-action="AddStudent" method="post" 
                  asp-route-projectId="@Model.Project.Id" 
                  asp-route-sessionId="@Model.Session.s_id"
                  asp-route-studentId="@randomStudentID">
                <div class="modalBody">
                    <div class="modalBodyContentBlock">
                        <label>Student ID</label>
                        <input type="text" value="@randomStudentID" id="studentIdInput" class="form-control" readonly="readonly"/>
                    </div>
                    <div class="modalBodyContentBlock">
                        <label>Student Name</label>
                        <input type="text" id="studentNameInput" name="studentName" class="form-control"/>
                    </div>
                </div>
                <div class="modalFooter">
                    <div type="button" id="cancelButton" class="footerButton cancelButton" data-dismiss="modal">CANCEL</div>
                    <button type="submit" id="confirmButton" class="footerButton continueButton">CREATE</button>
                </div>
            </form>
        </div>
    </div>
</div>

@Html.Raw("<script src='https://cdn.jsdelivr.net/npm/@microsoft/signalr@6.0.0/dist/browser/signalr.min.js'></script>")
<script>       
    const connection = new signalR.HubConnectionBuilder()
        .withUrl("/sessionhub")
        .build();

    connection.on("LockStudent", function(studentId) {
        const existingRow = document.querySelector(`#studentsTable tbody tr[data-student-id="${studentId}"]`);
        
        if (existingRow) {
            // Assuming the lock status is in the first column (index 1)
            existingRow.cells[0].style.opacity = '1';
        } else {
            console.error(`Student row with ID ${studentId} not found.`);
        }
    });

    connection.on("UpdateStudentProgress", function(studentId, studentProgress) {
        const existingRow = document.querySelector(`#studentsTable tbody tr[data-student-id="${studentId}"]`);
        
        if (existingRow) {
            existingRow.cells[3].textContent = studentProgress;
        }
    });
</script>

@Html.Raw("<script src='https://cdn.jsdelivr.net/npm/@microsoft/signalr@6.0.0/dist/browser/signalr.min.js'></script>")
<script>
    const connection = initializeSignalRConnection("/sessionhub");
    
    handleLockStudentEvent(connection, "#studentsTable");
    handleUpdateStudentProgressEvent(connection, "#studentsTable");
</script>