@model BivrostWeb.Models.ViewModels.SessionViewModel

@{
    ViewData["Title"] = "Session";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string randomStudentID = Guid.NewGuid().ToString();
}

<div class="session-panel">
    <div class="control-panel">
        <div class="operator-module">
            <div class="title-block">
                <a asp-action="Project" asp-controller="Project" asp-route-projectId="@Model.Project.Id" class="icon-button">
                    <span class="material-icons">
                        arrow_back
                    </span>
                </a>
                @Model.Session.s_name
            </div>
            <div class="content-block">
                <div class="panel-section">
                    <div class="section-header" onclick="toggleSection(this)">
                        <span>Info</span>
                        <span class="material-icons query-arrow">arrow_drop_down</span>
                    </div>
                    <div class="section-content">
                        Info content
                    </div>
                </div>
                <div class="panel-section">
                    <div class="section-header" onclick="toggleSection(this)">
                        <span>Instructors</span>
                        <span class="material-icons query-arrow">arrow_drop_down</span>
                    </div>
                    <div class="section-content">
                        Instructors content
                    </div>
                </div>
                <div class="panel-section">
                    <div class="section-header" onclick="toggleSection(this)">
                        <span>Real time events</span>
                        <span class="material-icons query-arrow">arrow_drop_down</span>
                    </div>
                    <div class="section-content">
                        Real time events content
                    </div>
                </div>
            </div>
            <div class="footer-block">
                <button class="finish-session-btn">Finish Session</button>
            </div>
        </div>
    </div>
    <div class="content-panel">
        <div class="table-container">
            <div class="table-container__header">
                <text class="header-title">Students</text>
                <a class="header-button" onclick="enableModalPanel('addStudentPanel', true)">Add new student</a>
            </div>
            <div class="table-container__search">
                <button class="icon-container">
                    <span class="material-icons">search</span>
                </button>
                <input class="search-input" placeholder="Search for students"/>
            </div>
            <div class="projects-table">
                <table id="studentsTable">
                    <thead>
                    <tr>
                        <th><span class="material-icons">lock</span></th>
                        <th id="nameHeader" class="sortable-header">Name</th>
                        <th id="nameStatus" class="sortable-header">Status</th>
                        <th id="nameTime" class="sortable-header">Time</th>
                        <th id="nameProgress" class="sortable-header">Progress</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (Student student in Model.Session.s_students)
                    {
                        <tr data-student-id="@student.st_id">
                            <td><span class="material-icons">lock</span></td>
                            <td>@student.st_name</td>
                            <td>@student.st_status</td>
                            <td>26 minutes</td>
                            <td>@student.st_progress</td>
                            <td class="link-column">
                                <a asp-action="Student" asp-controller="Project" asp-route-projectId="@Model.Project.Id" asp-route-sessionId="@Model.Session.s_id" asp-route-studentId="@student.st_id">
                                    Enter student page
                                </a>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

 <form asp-controller="Project" asp-action="AddStudent" method="post"
       asp-route-projectId="@Model.Project.Id"
       asp-route-sessionId="@Model.Session.s_id"
       asp-route-studentId="@randomStudentID">
     <div class="modal fade" id="addStudentPanel" role="dialog">
         <div class="modal-dialog">
             <div class="modal-content modal-panel">
                 <div class="modal-panel__header">
                     Add new student
                 </div>
                 <div class="modal-panel__body">
                     <div class="body-item">
                         <div class="modal-panel__section">Student ID</div>
                         <div class="input-wrapper">
                             <input class="input-text" type="text" value="@randomStudentID" id="studentIdInput" readonly="readonly"/>
                             <button class="icon-button">
                                 <span class="material-icons">
                                     content_copy
                                 </span>
                             </button>
                         </div>
                     </div>
                     <div class="body-item">
                         <div class="modal-panel__section">Student name</div>
                         <input class="input-text" type="text" id="studentNameInput" autocomplete="off" name="studentName"/>
                     </div>
                 </div>
                 <div class="modal-panel__footer">
                     <button type="reset" id="cancelButton" class="footer-button" onclick="enableModalPanel('addStudentPanel', false)">Cancel</button>
                     <button type="submit" id="confirmButton" class="footer-button confirm-button">Add Student</button>
                 </div>
             </div>
         </div>
     </div>
 </form>

@Html.Raw("<script src='https://cdn.jsdelivr.net/npm/@microsoft/signalr@6.0.0/dist/browser/signalr.min.js'></script>")
<script>       
    const connection = new signalR.HubConnectionBuilder()
        .withUrl("/sessionhub")
        .build();

    connection.start()
            .then(() => {
                console.log("SignalR connection established successfully.");
                // You can also display a UI message if needed
            })
            .catch(err => {
                console.error("SignalR connection failed: ", err.toString());
            });

    connection.on("LockStudent", function(studentId) {
        const existingRow = document.querySelector(`#studentsTable tbody tr[data-student-id="${studentId}"]`);
        
        if (existingRow) {
            // Assuming the lock status is in the first column (index 1)
            existingRow.cells[0].style.opacity = '1';
        } else {
            console.error(`Student row with ID ${studentId} not found.`);
        }
    });

    connection.on("UpdateStudentProgress", function(studentId, studentProgress) {
        const existingRow = document.querySelector(`#studentsTable tbody tr[data-student-id="${studentId}"]`);
        
        if (existingRow) {
            existingRow.cells[3].textContent = studentProgress;
        }
    });
</script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        makeTableSortable('studentsTable');
        
        document.querySelector('.search-input').addEventListener('input', function () {
            filterTable('studentsTable', '.search-input', [1]);
        });
    });
</script>