@model BivrostWeb.Models.ViewModels.StudentViewModel

@{
    ViewData["Title"] = "Student";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="session-page">
    <div class="project-menu-panel">
        <a class="back-button" asp-controller="Project" asp-action="Project" asp-route-projectId="@Model.Project.Id">
            <span class="material-symbols-outlined">arrow_back</span>
        </a>
        <div class="project-full-name">
            <span class="project-menu-text">
                <a asp-controller="Project" asp-action="Project" asp-route-projectId="@Model.Project.Id">@Model.Project.FullName</a>
                |
                <a asp-controller="Project" asp-action="Session" asp-route-projectId="@Model.Project.Id">@Model.Session.s_name</a>
                |
                <span class="current-location">@Model.Student.st_name</span>
            </span>
        </div>
        <a asp-controller="Project" asp-action="Project" asp-route-projectId="@Model.Project.Id" class="project-menu-button active-menu-button">PROJECT</a>
        <a class="project-menu-button">ANALYTICS</a>
        <a asp-controller="Project" asp-action="Settings" asp-route-projectId="@Model.Project.Id" class="project-menu-button">SETTINGS</a>
    </div>
    
    <div class="block" id="div1">
        <div class="block-top">
            <div class="block-name">Progress</div>
            <div style="flex-grow: 1;"></div>
            <button class="block-option-button" onclick="makeFullscreen('div1')"><i class="bi bi-fullscreen"></i></button>
            <button class="block-option-button"><i class="bi bi-arrow-clockwise"></i></button>
        </div>
    </div>
</div>