@model Session

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    
    string statusClass = "";
}

<div class="session-page">
    <div class="players-panel">
        <div class="top-control">
            <div class="top-control-item active-underline">Students</div>
            <div class="top-control-item">Instructors</div>
            <div style="flex: 1"></div>
            <div class="add-participant">+  Add Student</div>
        </div>
        <table>
            <thead>
            <tr>
                <th class="center-element" style="width: 42px">*</th>
                <th class="left-element">NAME</th>
                <th class="center-element">STATUS</th>
                <th class="center-element">TIME</th>
                <th class="center-element">PROGRESS</th>
                <th class="center-element">OPTIONS</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var student in Model.Students)
            {
                statusClass = "";
                switch (student.ConnectionStatus)
                {
                    case ConnectionStatus.Connected:
                        statusClass = "status-connected";
                        break;
                    case ConnectionStatus.Disconnected:
                        statusClass = "status-disconnected";
                        break;
                    default:
                        break;
                }
                <tr>
                    <td class="center-element"></td>
                    <td class="left-element">@student.Name</td>
                    <td class="center-element @statusClass">@student.ConnectionStatus</td>
                    <td class="center-element">@student.Duration</td>
                    <td class="center-element">@student.Progress</td>
                    <td class="center-element more">more</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
    <div class="control-panel">
        <div class="control-section info-section">
            <div class="session-name">@Model.ProjectName</div>
            <div class="session-id">586347536D</div>
        </div>
        <div class="control-section action-section">
            <div class="section-description">Message to selected players</div>
            <textarea class="send-message-textarea"></textarea>
            <div class="button-container">
                <button class="action-button">Send</button>
            </div>
        </div>
        <div class="control-section action-section">
            <div class="section-description">Select action</div>
            <div class="button-container">
                <button class="action-button">Action</button>
            </div>
        </div>
        <div class="control-section action-section" style="flex: 1">
            
        </div>
        <div class="control-section action-section">
            <div class="button-container">
                <button class="finish-session-button">Finish session</button>
            </div>
        </div>
    </div>
</div>