@model SessionViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    
    string statusClass = "";
}

<div class="session-page">
    <div class="players-panel">
        <div class="top-control">
            <button id="studentsBtn" class="top-control-item active-underline">Students</button>
            <button id="instructorsBtn" class="top-control-item">Instructors</button>
            <div style="flex: 1"></div>
            <button id="addParticipantBtn" class="add-participant">+  Add Student</button>
        </div>
        <table id="StudentsSessionTable">
            <thead>
            <tr>
                <th class="left-element">NAME</th>
                <th class="center-element">STATUS</th>
                <th class="center-element">TIME</th>
                <th class="center-element">PROGRESS</th>
                <th class="center-element">OPTIONS</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var student in Model.Students)
            {   
                <tr>
                    <td class="left-element">@student.Name</td>
                    <td class="center-element @statusClass">@student.ConnectionStatus</td>
                    <td class="center-element">@student.Duration</td>
                    <td class="center-element">@student.Progress</td>
                    <td class="center-element more">more</td>
                </tr>
            }
            </tbody>
        </table>
        <table id="InstructorsSessionTable" style="display: none">
            @* <thead> *@
            @* <tr> *@
            @*     <th class="left-element">NAME</th> *@
            @*     <th class="center-element">STATUS</th> *@
            @*     <th class="center-element">OPTIONS</th> *@
            @* </tr> *@
            @* </thead> *@
            @* <tbody> *@
            @* @foreach (var student in Model.Students) *@
            @* {    *@
            @*     <tr> *@
            @*         <td class="left-element">@student.Name</td> *@
            @*         <td class="center-element @statusClass">@student.ConnectionStatus</td> *@
            @*         <td class="center-element more">more</td> *@
            @*     </tr> *@
            @* } *@
            @* </tbody> *@
        </table>
    </div>
    
    <div class="control-panel">
        <div class="control-section info-section">
            <div class="session-name">@Model.SessionName</div>
            <div class="session-id">@Model.SessionId</div>
        </div>
        <div class="control-section action-section">
            <div class="section-description">Message to selected players</div>
            <textarea class="send-message-textarea"></textarea>
            <div class="button-container">
                <button class="action-button">Send</button>
            </div>
        </div>
        <div class="control-section action-section">
            <div class="section-description">Select action</div>
            <div class="button-container">
                <button class="action-button">Action</button>
            </div>
        </div>
        <div class="control-section action-section" style="flex: 1">
            
        </div>
        <div class="control-section action-section">
            <div class="button-container">
                <button class="finish-session-button">Finish session</button>
            </div>
        </div>
    </div>
</div>