@model ProjectViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="project-page">
    <div class="select-segment">
        <button id="studentsBtn" class="segment-button active-underline">Active Sessions</button>
        <button id="instructorsBtn" class="segment-button">Finished Sessions</button>
        <div style="flex: 1"></div>
        <button id="createSessionButton" type="button" class="active-colored-button">CREATE</button>
    </div>

    <table class="tableList">
        <thead>
        <tr>
            <th class="empty-th"></th>
            <th class="left-element">NAME</th>
            <th class="center-element regular-cell">STATUS</th>
            <th class="center-element regular-cell">DATE</th>
            <th class="center-element regular-cell">PLAYERS</th>
            <th class="center-element big-cell">DURATION</th>
            <th class="center-element regular-cell">OPTIONS</th>
            <th class="empty-th"></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var session in Model.Sessions)
        {
            string sessionStatusClass = session.Status ? "session-status-active" : "session-status-finished";
            
            <tr>
                <td class="empty-td"></td>
                <td class="left-element">@session.Name</td>
                <td class="center-element regular-cell @sessionStatusClass">@(session.Status ? "ACTIVE" : "FINISHED")</td>
                <td class="center-element regular-cell">@session.Date</td>
                <td class="center-element regular-cell">@session.Players</td>
                <td class="center-element big-cell">@session.Duration</td>
                <td class="center-element regular-cell">
                    <a id="sessionLink" asp-action="Index" asp-controller="Session" asp-route-sessionId="@session.Id">
                        <div class="actions-button">
                            ENTER
                        </div>
                    </a>
                </td>
                <td class="empty-td"></td>
            </tr>
        }
        </tbody>
    </table>
</div>

<div class="modal fade" id="createSessionPanel" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content modalPanel">
            <div class="modalHeader">
                <label class="modalTitle" id="modalTitle">Create a new session</label>
                <label class="modalTitleDescription" id="modalTitleDescription">Create a new project with new users</label>
            </div>
            <div class="modalBody">
                <div class="modalBodyContentBlock">
                    <label>Session ID</label>
                    @{
                        // Generate a random ID
                        string randomID = Guid.NewGuid().ToString();
                    }
                    <input type="text" placeholder="@randomID" id="sessionIdInput" name="textInput" class="form-control" readonly="readonly"/>
                </div>
                <div class="modalBodyContentBlock">
                    <label>Session Name</label>
                    <input type="text" id="sessionNameInput" name="textInput" class="form-control"/>
                </div>
            </div>
            <div class="modalFooter">
                <button type="button" id="cancelButton" class="footerButton cancelButton" data-dismiss="modal">CANCEL</button>
                <button type="button" id="createButton" class="footerButton continueButton" data-dismiss="modal">CREATE</button>
            </div>
        </div>
    </div>
</div>

<script>
    // JavaScript to handle button click event and show modal
    document.getElementById('createSessionButton').addEventListener('click', function () {
        $('#createSessionPanel').modal('show');
    });
    document.getElementById('cancelButton').addEventListener('click', function () {
        $('#createSessionPanel').modal('hide');
    });
</script>